services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    environment:
      # Point your app to Mongo/Redis/RabbitMQ inside the compose network
      MONGO_URL: mongodb+srv://nayaneesh_cherry:cherry010607@cluster0.b0gfzri.mongodb.net/?appName=Cluster0
      DB_NAME: banking_app
      REDIS_URL: redis://redis:6379/0
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    volumes:
      - ./backend:/app
    depends_on:
      mongo:
        condition: service_started
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 20

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672" # management UI
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 20

  celery_worker:
    build:
      context: ./backend # reuse backend image if Celery code lives there
    command: [ "celery", "-A", "worker", "worker", "-l", "info" ]
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  elasticsearch:
    image: elasticsearch:7.17.10
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    # Helpful on Docker Desktop/Mac too
    sysctls:
      vm.max_map_count: 262144

  kibana:
    image: kibana:7.17.10
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  logstash:
    image: logstash:7.17.10
    ports:
      - "5000:5000"
      - "9600:9600"
    depends_on:
      - elasticsearch

volumes:
  mongodata: {}
